# Dependencies
node_modules/

# Capacitor generated
www/

# Android build outputs
android/build/
android/.gradle/
android/app/build/

# Android Studio files
android/.idea/
*.iml

# iOS build outputs
ios/build/
ios/Pods/
ios/.build/

# iOS CocoaPods
ios/App/Pods/

# Environment & OS files
.env
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Logs
npm-debug.log*
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
